@font-face {
  font-family: lato-regular;
  src: url(Lato-Regular.ttf);
}

@font-face {
  font-family: volkorn-semibolditalic;
  src: url(Vollkorn-SemiBoldItalic.ttf);
}

@font-face {
  font-family: lato-bold-italic;
  src: url(Lato-BoldItalic.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(Lato-Bold.ttf);
}

body {
  background-color: black;
  margin: 8%;
  font-family: lato-regular;
}

h1, p {
  color: white;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 24px;
}

a {
  text-decoration: underline;
  transition: font-size 0.2s;
}

a:hover {
  font-size: 26px;
}

.lato-bold {
  font-family: lato-bold;
}

.lato-bold-italic {
  font-family: lato-bold-italic;
}

.volkorn {
  font-family: volkorn-semibolditalic;
}

.emphasis {
  font-size: 26px;
  color: lightskyblue;
}

.name {
  font-size: 50px;
  color: lightskyblue;
}

.yelp {
  color: #f15c4f; /* https://www.yelp.com/styleguide/color */
}

.ubc {
  color: #98b2c3; /* https://clf.ubc.ca/design-specifications/#colours */
}

.linkedin {
  color: #2867b2; /* https://brandpalettes.com/linkedin-color-codes/ */
}
.linkedin:hover {
  color: #4180cc;
}

.github {
  color: #ffd33d; /* https://styleguide.github.com/primer/utilities/colors/ */
}
.github:hover {
  color: #ffe48a;
}

.devpost {
  color: #2986a5;
}
.devpost:hover {
  color: #49a9c9;
}

.medium {
  color: #029e74;
}
.medium:hover {
  color: #14c495;
}

.launchpad {
  color: #55bc9b; /* https://github.com/ubclaunchpad/ubclaunchpad.github.io/blob/master/css/stylesheets/site.css */
}
.launchpad:hover {
  color: #71d1b3;
}

.instagram {
  color: #e1306c; /* https://brandpalettes.com/instagram-color-codes/ */
}
.instagram:hover {
  color: #f24e85;
}

.redbubble {
  color: #ff596f;
}
.redbubble:hover {
  color: #ff7a8c;
}

.twitter {
  color: #1da1f2;
}
.twitter:hover {
  color: #45b8ff;
}

.hadrosaur {
  color: #007bff;
}
.hadrosaur:hover {
  color: #3396ff;
}

.buttondown {
  color: #0069ff;
}
.buttondown:hover {
  color: #4592ff;
}

.title, .first, .second, .third, .fourth {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to { opacity: 1 }
}

.first {
  animation-delay: 0.5s;
}
.second {
  animation-delay: 1s;
}
.third {
  animation-delay: 1.5s;
}
.fourth {
  animation-delay: 2s;
}